/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

.main-content {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  background-color: #fffef8;
}
section {
  padding: 50px 0;
  background-color: #fffef8;
}

h1 a {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  text-decoration: none;
}

h1 a > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li a {
  padding: 0 40px;
  font-size: 1.2em;
  color: black;
}

li a:hover {
  color: #b1663c;
}

li a:visited {
  color: black;
}

li a {
  text-decoration: none;
}

#menu-login-page:nth-child(3) {
  font-weight: 900;
}

#logout-menu {
  font-weight: 900;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;

  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  /*  */
  margin-right: -30px;
}
#portfolio div div {
  margin-left: 60px;
}

.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: #fffef8;
}

.filter {
  display: flex;
  justify-content: center;

  /* display: none; */
}

.btn-filter {
  border-radius: 20px;
  border: 1px solid #1d6154;
  padding: 5px 20px;
  margin: 0 10px;
  color: #1d6154;
  font-weight: 700;
  background-color: white;
  font-family: "Syne";
}

.btn-selected {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 60px;
  background-color: #fffef8;
}

.gallery img {
  width: 100%;
}
#contact {
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* footer nav ul li {
  font-size: 16px;
} */

/* ---- page LOGIN -----*/

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

#menu-login-page li:nth-child(3) {
  font-weight: 700;
}

#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item input {
  height: 50px;
  /* width: 20vw; */
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-item label {
  margin: 2em 0 0.5em 0;
  text-align: left;
}

#login form > input {
  height: 36px;
}

#login p a {
  text-decoration: underline;
  color: black;
}

.msg-error {
  font-size: 1.2em;
  color: red;
  font-weight: 600;
  padding-top: 20px;
}

/* ------ Admin Mode ---------- */

.admin-elements {
  display: none;
}

.show-as-admin {
  display: block;
}

.admin-mode {
  height: 60px;
  background-color: black;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-edition a {
  text-decoration: none;
  color: white;
}
.publish {
  background-color: white;
  color: black;
  border-radius: 30px;
  margin-left: 20px;
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.modify {
  margin: 20px 0;
}
.modify a {
  text-decoration: none;
  color: black;
  text-transform: lowercase;
}

.modify a i {
  text-transform: lowercase;
}

/* ---- MODALE ---- */

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  overflow: hidden;
  width: 630px;
  height: 780px;
  max-width: calc(100vw - 30px);
  max-height: calc(100vh - 50px);

  background-color: #fff;
  border-radius: 10px;
}

.modal-content {
  padding: 20px 100px;
}

.modal-wrapper h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 45px;
}

.modal-window-btn {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}

.modal-window-btn i {
  font-size: large;
}

.modal-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* overflow: auto; */
}

.modal-gallery figure {
  position: relative;
}
.js-icon-container {
  position: absolute;
  right: 5px;
  margin-top: 6px;
  display: flex;
  align-items: flex-end;
}

.js-icon-container .fa-solid {
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 5px;
  margin-right: 4px;
}

.fa-arrows-up-down-left-right {
  opacity: 0;
}
.fa-arrows-up-down-left-right:hover {
  opacity: 1;
  cursor: pointer;
}

.fa-trash-can:hover {
  cursor: pointer;
}

.modal-gallery img {
  width: 100%;
}
.modal-gallery a {
  text-decoration: none;
  color: black;
}

.separation {
  border: 1px solid lightgray;
  margin: 40px 0 20px 0;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-project {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  height: 36px;
  width: 15vw;
  font-size: 0.9em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.modal-buttons a {
  text-decoration: none;
  color: #b1663c;
}

.msg-alert {
  color: red;
  font-weight: 600;
}

.msg-delete {
  font-size: 1.2em;
  color: red;
  font-weight: 600;
  padding-top: 20px;
  display: block;
}

.msg-success {
  font-size: 1.2em;
  color: #1d6154;
  font-weight: 600;
  display: block;
}
.msg-failed {
  font-size: 1.2em;
  color: red;
  font-weight: 600;
  display: block;
}

.js-hide {
  display: none;
}

.js-opacity {
  opacity: 0;
}

.grey {
  background-color: #e8f1f6;
  height: 195px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-image {
  font-size: 4em;
  color: #b9c5cc;
  font-weight: 300;
  padding: 24px 0 24px 0;
}

.label-input-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: #cbd6dc;
  text-align: center;
  border-radius: 60px;
  height: 36px;
  width: 10vw;
  font-size: 0.9em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  margin-bottom: 8px;
}
.hidden-input-photo {
  display: none;
}
.grey p {
  font-size: 0.8em;
  padding-bottom: 16px;
}

#preview {
  max-height: 193px;
}

#categorie {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#valider {
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a7a7a7;
  border: none;
}
